/* root */
.root{

}

/* html elements */
body{
    overflow-x: hidden;
    margin: 0;
    font-family: 'Barlow',sans-serif;
}
h1{
    margin: 0;
    font-family: 'Fraunces',sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Fraunces',sans-serif;
    font-size: 40px;
}
h3 {
    margin: 0;
    font-family: 'Fraunces',sans-serif;
    font-size: 25px;
}
h4{
    font-family: 'Fraunces',sans-serif;
    font-size: 15px;
}

/* classes */

/* first section / intro */
.intro{
    background-image: url('../images/desktop/image-header.jpg');
    background-size: 95%;
    color: white;
    width: 100vw;
    height: 100vh;
    /* max-height: 100vh; */
}

.intro h1{
    font-size: 60px;
    font-weight: 900;
    letter-spacing: 8px;
    margin: 0px auto;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 10%;
    width: 75%;
}
.intro h2{
    font-family: 'Barlow',sans-serif;
    left: 3%;
    position: relative;
    top: 5%;
}
.intro img{
    position: relative;
    left: 45%;
    top: 20%;
}

/* main options list */
.main-options{
    display: flex;
    left: 60%;
    list-style: none;
    position: relative;
    width: 50%;
}
.main-options li{
    margin-right: 50px;
    padding: 5px;
}
.contact-btn{
    border-radius: 40px;
    background: #fff;
    font-family: 'Fraunces',sans-serif;
    font-size: 15px;
    height: 60px;
    border: none;
    padding: 10px;
    position: absolute;
    right: 40px;
    text-align: center;
    text-transform: uppercase;
    top: 40px;
    width: 120px;
    
}

/* Branding section */
.branding{
    width: 100vw;
    height: 175vh;
    position: relative;
}
/* transform and standout sections with images */
.transform-box{
    position: absolute;
    height: 50%;
    width: 50%;
    left: 0%;
    margin: 0px auto;
    padding: 20px;
    top: 0%;
} 
/* content of the transform box */
.transform-box h2{
    color: rgb(65, 60, 60);
    font-weight: 900;
    left: 15%;
    position: relative;
    top: 25%;
    width: 50%;
}
.transform-box p{
    font-size: 19px;
    color: rgb(146, 141, 141);
    left: 15%;
    line-height: 30px;
    margin-bottom: 30px;
    position: relative;
    top: 25%;
    width: 70%;
}
.transform-box h4{
    font-weight: 900;
    left: 15%;
    position: relative;
    text-transform: uppercase;
    top: 25%;
    width: 30%;
}
.transform-img{
    height: 50%;
    left: 50%;
    position: absolute;
    top: 0%;
    width: 50%;
}
.transform-img img{
    height: 100%;
    position: absolute;
    width: 100%;
}
/* standout box */
.standout-box{
    height: 50%;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 50%;
}
/* content of the standout box */
.standout-box h2{
    color: rgb(65, 60, 60);
    font-weight: 900;
    left: 15%;
    position: relative;
    top: 25%;
    width: 50%;
}
.standout-box p{
    font-size: 19px;
    color: rgb(146, 141, 141);
    left: 15%;
    line-height: 30px;
    margin-bottom: 30px;
    position: relative;
    top: 25%;
    width: 70%;
}
.standout-box h4{
    font-weight: 900;
    left: 15%;
    position: relative;
    text-transform: uppercase;
    top: 25%;
    width: 30%;
}


/*  standout image */

.standout-img{
    height: 50%;
    left: 0%;
    position: absolute;
    top: 50%;
    width: 50%;
}
.standout-img img{
    height: 100%;
    position: absolute;
    width: 100%;
}

/* graphic and photography sections */
.graphic-img{
    background-image: url('../images/desktop/image-graphic-design.jpg');
    height: 50%;
    left: 0%;
    position: absolute;
    top: 100%;
    width: 50%;
}

/* graphic div content */
.graphic-img h3{
    color: rgb(65, 60, 60);
    font-weight: 900;
    left: 35%;
    position: relative;
    top: 70%;
    width: 40%;
}
.graphic-img p{
    color: rgba(87, 75, 75, 0.774);;
    left: 27%;
    line-height: 25px;
    position: relative;
    text-align: center;
    top: 72%;
    width: 50%;
}

.photography-img{
    background-image: url('../images/desktop/image-photography.jpg');
    height: 50%;
    left: 50%;
    position: absolute;
    top: 100%;
    width: 50%;
}

/* photography div content */
.photography-img h3{
    color: rgb(65, 60, 60);
    font-weight: 900;
    left: 40%;
    position: relative;
    top: 70%;
    width: 40%;
}
.photography-img p{
    color: rgba(87, 75, 75, 0.774);;
    left: 27%;
    line-height: 25px;
    position: relative;
    text-align: center;
    top: 72%;
    width: 50%;
}

/* Testimonials */

.testimonials{
    background: whitesmoke;
    display: flex;
    height: 110vh;
    flex-direction: row;
    position: absolute;
    text-align: center;
    top: 360vh;
    left: 0%;
    width: 100%;
}

.testimonials h3{
    /* bottom: 20%; */
    top: 20%;
    color: rgba(119, 109, 109, 0.726);
    font-size: 20px;
    font-weight: 900;
    height: 10%;
    left: 35%;
    letter-spacing: 4px;
    text-transform: uppercase;
    position: relative;
}
.testimonials h4{
    font-size: 20px;
    font-weight: 900;
    margin: 5px auto;
}
.testimonials p{
    color: rgb(65, 63, 63);
    font-size: 18px;
    line-height: 30px;
    margin: 0px auto 80px auto;
    width: 80%;
}
.testimonials img{
    border-radius: 50%;
    margin: 30px auto;
    padding: 20px;
    width: 20%;
}
.testimony-1{
    height: 100%;
    left: 1%;
    position: absolute;
    top: 30%;
    width: 33.33%; 
}
.testimony-2{
    height: 100%;
    position: absolute;
    top: 30%;
    left: 32%; 
    width: 33.33%;
}
.testimony-3{
    height: 100%;
    position: absolute;
    top: 30%;
    width: 33.33%;
    left: 62%; 
}
/* gallery section */
.gallery{
    border:0;
    font-size: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 470vh;
}
.gallery img{
    border: 0px;
    height: auto;
    margin: 0px 0px;
    position: relative;
    width: 25%;
}

/* Footer */
.footer{
    background: hsla(167, 68%, 71%, 0.794);
    color: hsl(167, 40%, 24%);
    height: 40vh;
    left: 0%;
    margin: 0px auto;
    padding: 50px;
    position: absolute;
    text-align: center;
    top: 534vh;
    width: 100%;
}
.footer h2{
    font-family: 'Barlow',sans-serif;
    font-weight: 900;
}
/* service options list */
.service-options{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 30px auto;
    padding: 10px;
    position: relative;
}
.service-options li{
    margin-left: 10px;
}
/* contact options list */
.contact-options{
    align-items: center;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 30px auto;
    padding: 10px;
}
.contact-options li{
    margin-left: 10px;
}